body {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
  margin: 0;
  font-family: Arial, sans-serif;

}



#container {

  position: relative;
  width: 600px;
  height: 400px;

}



#seesaw {

  position: absolute;
  bottom: 150px;
  left: 50%;
  width: 400px;
  height: 20px;
  background: #8b4513;
  border-radius: 10px;
  transform-origin: center center;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 1;

}



#pivot {

  position: absolute;
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background: #555;
  border-radius: 50%;
  z-index: 2;

}

.weight {   
  position: absolute;
  width: 30px;
  height: 30px;
  background: #2e0236;
  border-radius: 50%;
  color: white;
  font-size: 14px;  /* şimdlik aynı ağırlıktakiler aynı fontda ilerde değiştiricem. */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%); /* merkezleme burda yapılıcak düşen toplar için  */

}

#info {
  position: absolute;      
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#info .info-box {
  display: flex;
  width: 460px;  
  gap: 20px;          
  background: rgba(179, 155, 155, 0.8);
  padding: 8px 12px;
  border-radius: 7px;
  border: 3px solid #000000;
}

#info p {
  margin: 0;
  font-size: 14px;
}

#resetBtn {
  margin-top: 15px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: small;
   border-radius: 4px;
   color: tomato;

   
}